.residential-apartment-gated-community .card .card-body {
    padding:0px !important;
}
#amenities_defined_block_tab {
    margin-top:1rem;
}
.residential-apartment-gated-community  {
        padding: 15px;
}