.apart-images img {
    width: 150px !important;
    height: 150px !important;
    padding: 2px !important;
    object-fit: cover !important;
    border: 3px solid #662e93;
    border-radius: 5px;
}

.image-area {
    position: relative;
    /* width: 50%; */
    margin: 20px;
    background: #333;
    border-radius: 5px;
}

.image-area img {
    max-width: 100%;

    height: auto;
}

.remove-image {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10em;
    padding: 2px 6px 3px;
    text-decoration: none;
    font: 700 21px/20px sans-serif;
    background: #555;
    border: 3px solid #fff;
    color: #FFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.remove-image:hover {
    background: #E54E4E;
    padding: 3px 7px 5px;
    top: -11px;
    right: -11px;
}

.remove-image:active {
    background: #E54E4E;
    top: -10px;
    right: -11px;
}

.merged-notch {
    position: relative;
    margin: -8px auto;
    height: 40px;
    z-index: 3;
}

.unit-notch {
    position: absolute;
    top: 0;
    left: 50%;
    color: #fff;
    padding: 4px 33px;
    height: 27px;
    background-color: rgba(53, 119, 241);
    border-radius: 0 0 28px 28px;
    transform: translateX(-50%);

}

.merged-notch {
    position: relative;
    margin: -8px auto;
    height: 40px;
    z-index: 3;
}

.unit-notch {
    position: absolute;
    top: 0;
    left: 50%;
    color: #fff;
    padding: 4px 33px;
    height: 27px;
    background-color: rgba(53, 119, 241);
    border-radius: 0 0 28px 28px;
    transform: translateX(-50%);

}

.notch {
    position: absolute;
    top: 0;
    left: 50%;
    color: #fff;
    padding: 4px 33px;
    height: 27px;
    background-color: #222;
    border-radius: 0 0 28px 28px;
    transform: translateX(-50%);
}

.notch::before,
.notch::after {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    width: 14px;
    height: 7px;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 100%, transparent 6px, #222 7px);
}

.notch::after {
    left: 100%;
    margin-right: corner-sizepx;
    background-image: radial-gradient(circle at 100% 100%, transparent 6px, #222 7px);
}

.unit-notch::before,
.unit-notch::after {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 14px;
    height: 7px;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 100%, transparent 6px, rgba(53, 119, 241) 7px);
}

.unit-notch::after {
    left: 99.6%;
    margin-right: corner-sizepx;
    background-image: radial-gradient(circle at 100% 100%, transparent 6px, rgba(53, 119, 241) 7px);
}

.floor-mask {
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    height: 100%;
    width: 99%;
    z-index: 3;
}

.storey-unit {
    position: relative;
}

.unit-mask {
    position: absolute;
    height: 90%;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
}

@media only screen and (max-width: 600px) {

    span.remove-storey,
    span.remove-storey-unit {
        position: absolute;
        top: 1%;
        left: 92%;
        width: 20px;
        cursor: pointer;
    }

    .unit-notch {
        position: absolute;
        top: 0;
        left: 50%;
        color: #fff;
        padding: 0px 10px;
        height: 27px;
        background-color: rgba(53, 119, 241);
        border-radius: 0 0 28px 28px;
        transform: translateX(-50%);
        min-width: 70%;
        text-align: center;
    }

    .notch {
        position: absolute;
        top: 0;
        left: 50%;
        color: #fff;
        padding: 4px 33px;
        height: 27px;
        background-color: #222;
        border-radius: 0 0 28px 28px;
        transform: translateX(-50%);
        width: 70%;
        text-align: center;
    }
}

/*# sourceMappingURL=custom.min.css.map */
.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: rgb(64 81 137) !important;
    -webkit-box-shadow: inset 0 calc(-1 * var(--vz-accordion-border-width)) 0 var(--vz-accordion-border-color) !important;
    box-shadow: inset 0 calc(-1 * var(--vz-accordion-border-width)) 0 var(--vz-accordion-border-color) !important;
}

.accordion-button {
    background-color: #dee6ff !important;
}

.Unit_Details span:nth-child(1) {
    font-weight: 600;
    font-size: 12px;
}

.Unit_Details span:nth-child(2) {
    margin-left: 5px;
    font-size: 12px;
}

.Unit_Details {
    padding: 2px 0px;
}

.Unit_MainDetails {
    background: #fff !important;
    border: 1px solid #405189 !important;
    transition: 0.3s !important;
    border-radius: 5px !important;
    /* height: 290px; */
}

.accordion-button:not(.collapsed)::after {
    content: '\f077' !important;
    font-weight: 900 !important;
    font-family: "Font Awesome 6 Free";
}

.accordion-button::after {
    content: '\f078' !important;
    font-weight: 900 !important;
    font-family: "Font Awesome 6 Free";
    background-image: none !important;
}

.Unit_MainDetails:hover {
    background: #dee6ff !important;
    border: 1px solid #405189 !important;
    transition: 0.3s !important;
    border-radius: 5px !important;
    /* height: 290px; */
}

.Unit_MainDetails .card-header {
    padding: 6px 10px;
}

.dropzone .dz-message {
    font-size: 24px;
    width: 100%;
    margin: 0em 0;
}

.btn-grediyent {
    background: rgb(102, 46, 147);
    background: linear-gradient(0deg, rgba(102, 46, 147, 1) 0%, rgba(205, 144, 255, 1) 100%);
    border: solid 1px #662e93;
    color: #fff;
}

.MobilelistFurninshed {
    width: 500px !important;
    background: white !important;
    box-shadow: 2px 3px 10px 1px lightgrey !important;
    text-align: left;
    z-index: 9999;
}

.MobilelistFurninshed2 {
    width: 500px !important;
    background: white !important;
    box-shadow: 2px 3px 10px 1px lightgrey !important;
    text-align: left;
    transform: translate3d(-149.333px, 26px, 0px);
}

/*Responsive design for mobile*/
@media only screen and (max-width: 600px) {
    .progress-step-arrow {
        display: block;
    }

    .progress-step-arrow .progress-bar {
        padding: 10px;
    }

    .progress-step-arrow {
        height: 133px;
        background: white;
    }

    .progress-step-arrow .progress-bar:nth-child(1)::after {
        content: "";
        position: absolute;
        border: 10px solid transparent;
        bottom: -20px;
        right: 47%;
        z-index: 1;
        rotate: 90deg;
    }

    .progress-step-arrow .progress-bar:nth-child(2)::after {
        content: "";
        position: absolute;
        border: 10px solid transparent;
        bottom: -20px;
        right: 47%;
        z-index: 1;
        rotate: 90deg;
    }

    .progress-step-arrow .progress-bar:nth-child(3)::after {
        display: none;
    }

    .progress-info .progress-bar:nth-child(2)::after {
        border-left-color: rgb(233 245 251) !important
    }

    .progress-info .progress-bar:nth-child(1)::after {
        border-left-color: #299cdb !important;
    }

    .progress-info .progress-bar:nth-child(3)::after {
        border-left-color: #dae0e3 !important
    }

    .progress-step-arrow .bg-light {
        background-color: #dae0e3 !important;
    }

    .page-content {
        padding: calc(70px + 1.5rem) calc(0rem * .5) 60px calc(0rem * 0);
    }

    .Mobilemt-3 {
        margin-top: 1rem;
    }

    .MobilelistFurninshed {
        width: 300px !important;
        background: white !important;
        box-shadow: 2px 3px 10px 1px lightgrey !important;
        text-align: left;
        transform: translate3d(-149.333px, 26px, 0px);
    }

    .MobilelistFurninshed2 {
        width: 370px !important;
        background: white !important;
        box-shadow: 2px 3px 10px 1px lightgrey !important;
        text-align: left;
        transform: translate3d(-149.333px, 26px, 0px);
    }
}


/* badge styles starts */
.badge-container {
    width: 300px;
    position: relative;
}

img {
    max-width: 100%;
}

.badge-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.badge {
    color: white;
    padding: 7.5px 7.5px;
    font-size: 15px;
    font-family: "Poppins";
    text-align: center;
    background: #0b9033;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateX(-30%) translateY(0%) rotate(-45deg);
    transform-origin: top right;
}

.badge::before,
.badge::after {
    content: '';
    position: absolute;
    top: 0;
    margin: 0 -1px;
    width: 100%;
    height: 100%;
    background: inherit;
    min-width: 55px;
}

.badge::before {
    right: 100%
}

.badge::after {
    left: 100%
}